<html>
  <% include partials/head %>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Care Crew</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Profile for <%= patient.name %></h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
         
          <h2>Medical information</h2>

          <div class="caregivers-list">
            <div>
              <span class="profile-info-title" data-target="#allergies">Allergies: </span>
              <span id="allergies"><%=patient.allergies ? patient.allergies : 'Unknown :('%></span>
            </div>
            <div>
              <span class="profile-info-title" data-target="#notes">Notes: </span>
              <span id="notes"><%=patient.notes ? patient.notes : 'Unknown :('%></span>
            </div>
          </div>


          <h2>Bio</h2>


          <div class="caregivers-list">
            <div>
              <span class="profile-info-title" data-target="#birthday">Birthday: </span>
              <span id="birthday"><%=patient.birthday ? patient.birthday : 'Unknown :('%></span>
            </div>

            <div>
              <span class="profile-info-title" data-target="#gender">Gender: </span>
              <span id="gender"><%=patient.gender ? patient.gender : 'Unknown :('%></span>
            </div>
          </div>

          <h2>Contact</h2>

          <div class="caregivers-list">
            <div>
              <span class="profile-info-title" data-target="#phone">Phone number: </span>
              <span id="phone"><%=patient.phone ? patient.phone : 'Unknown :('%></span>
            </div>


            <div>
              <span class="profile-info-title" data-target="#email">Email: </span>
              <span id="email"><%=patient.email ? patient.email : 'Unknown :('%></span>
            </div>
          </div>

        </div>

        <div class="col-md-6">
          <!-- TODO display list of names (not stored ids) and add new ones-->
          <h2> Caregivers </h2>

          <div class="caregivers-list">
            <% for(var i=0; i < caregivers.length; i++) {%>
            <p><strong><%= caregivers[i].name %></strong></p>
            <li><%= caregivers[i].phone %></li>
            <li><%= caregivers[i].notes %></li>
            <li><i><%= caregivers[i].freetime %></i></li>
            <br/>
            <% } %>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
    <hr>
    <div class="container">
      <h2> Tasks </h2>
      <% include task %>
    </div>

    <% include partials/footer %>
</body>
</html>
